@charset "UTF-8";
/*
* {
  box-sizing: border-box;
}
*/

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /*opacity: 50%;*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
}
.contentLOGO {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
}

.content {
  position: fixed;
  top: 40%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
